@font-face {
    font-family: ARSMaquette;
    src: url(../fonts/ARSMaquettePro-Regular.ttf);
}
@font-face {
    font-family: Avalon;
    src: url(../fonts/Avalon\ Regular.ttf);
}
@font-face {
    font-family: Shentox;
    src: url(../fonts/Shentox.ttf);
}