@import "fonts.css";
body {
  font-family: ARSMaquette, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 15px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
  width: 20%;
  padding: 10px;
  height: fit-content;
  background: #f42;
  background-color: linear-gradient(to bottom right, #c09, #f42 85%);
}

.navbar {
  background-color: beige;
  height: 8vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.actions .fas {
  padding: 10px 15px;
}
.fa-bars,
.fa-search {
  font-size: 20px;
}
.fa-search {
  border-right: 1px #ccc solid;
  border-left: 1px #ccc solid;
  color: #ccc;
}
.fa-bars {
  color: #ff4422;
}
.menu-icon {
  width: 20px;
}
.menu-icon > div {
  height: 3px;
}

.advert {
  padding: 5px 15px;
  text-align: center;
  color: #000;
  background-color: yellow;
  text-align: center;
}

#news {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: auto;
  /* row-gap: 10px; */
  padding: 0 10px;
  margin-bottom: 100px;
}

.font-article {
  font-size: Avalon;
}

#news .item1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.7) 100%),
    url("../images/mark.jpg");
  background-position: center;
  background-size: cover;
}

#news .item2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.7) 100%),
    url("../images/shopify.jpg");
  background-position: center;
  background-size: cover;
}

#news .item3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.7) 100%),
    url("../images/trump.png");
  background-position: center;
  background-size: cover;
}
.news-details {
  font-size: 12px;
}

.box {
  min-height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  color: beige;
  font-size: 1rem;
  line-height: 1.6;
  padding: 0.8rem 1rem;
}

.box a {
  text-decoration: none;
  color: beige;
  font-family: Avalon;
  font-weight: 800;
}

.news-topic {
  text-transform: uppercase;
  font-family: Shentox;
}

.news-details {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.news-details .icon {
  width: 20px;
  height: 20px;
}

#latest-news {
  border: 3px solid green;
  /* padding: 0 15px; */
}

#latest-news h2 a {
  font-family: Avalon, sans-serif;
  font-size: 28px;
  color: #ff4422;
  text-decoration: none;
}

.grid-parent {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: auto;
  row-gap: 10px;
}

.card > img {
  width: 75px;
  height: 75px;
  padding-right: 20px;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.card .details {
  padding-top: 10px;
  font-family: Times New Roman;
  font-size: 14px;
  color: #aaaaaa;
}

.card h4 {
  margin: 0;
  font-family: ARSMaquette, Helvetica Neue, Arial, sans-serif;
  color: #000000;
}

.card a {
  text-decoration: none;
  color: #000000;
}

.card a:hover {
  text-decoration: underline;
  color: #ff4422;
}

#topics,
#latest-deals {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.funding {
  border: 3px solid orange;
  padding: 0 15px;
  margin: 20px;
}

.funding a {
  color: #ff4422;
  text-decoration: none;
}

.funding a:hover {
  color: black;
  text-decoration: none;
}

.funding-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
}

.funding-container .cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 3px solid red;
  background: rgba(255, 68, 34, 0.08);
}

.funding-container .cards h4 {
  background: #ff4422;
  color: black;
  min-width: 100%;
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    background-color: black;
  }

  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .advert {
    padding: 10px 15px;
    text-align: center;
  }

  #news {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
  }

  .span {
    grid-row: 1 / span 2;
  }

  .grid-parent,
  #latest-deals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: 10px;
  }

  .box img {
    width: 100px;
    height: 50px;
  }

  .funding-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }

  #topics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
  }

  footer {
    position: relative;
    bottom: 0;
    text-align: center;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    background-color: black;
  }

  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .advert {
    padding: 10px 15px;
    text-align: center;
  }

  #news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .span {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .grid-parent,
  #latest-deals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    column-gap: 10px;
  }

  .box img {
    width: 100px;
    height: 50px;
  }

  .funding-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }

  #topics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
  }

  footer {
    position: relative;
    bottom: 0;
    text-align: center;
    margin-top: 20px;
  }
}
