@import 'fonts.css';

body {
  font-family: ARS Maquette Pro Light, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  display: none;
}
.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.advert {
  padding: 10px 15px;
  text-align: center;
}
#news {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: auto;
  row-gap: 10px;
  padding: 0 10px;
  margin-bottom: 100px;
}
.font-article {
  font-size: Avalon;
}

#news .item1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.7) 100%),
    url("../images/mark.jpg");
  background-position: center;
  background-size: cover;
}

#news .item2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.7) 100%),
    url("../images/shopify.jpg");
  background-position: center;
  background-size: cover;
}

#news .item3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.7) 100%),
    url("../images/trump.png");
  background-position: center;
  background-size: cover;
}
.box {
  min-height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  color: beige;
  font-size: 1rem;
  line-height: 1.6;
  padding: 0.8rem 1rem;
}
.box a {
  text-decoration: none;
  color: beige;
  font-family: Avalon;
  font-weight: 800;
}
.news-topic {
  text-transform: uppercase;
  font-family: Shentox;
}

.news-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.news-details .icon {
  width: 30px;
  height: 30px;
}

#latest-news {
  border: 3px solid green;
  padding: 0 15px;
}

.grid-parent {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: auto;
  row-gap: 10px;
}
.card > img {
  width: 15%;

}
.card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.card > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}


#topics,
#latest-deals {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
footer {
  position: relative;
  bottom: 0;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    background-color: black;
  }
  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .advert {
    padding: 10px 15px;
    text-align: center;
  }
  #news {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
  }
  .span {
    grid-row: 1 / span 2;
  }

  .grid-parent,
  #latest-deals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: 10px;
  }
  .box img {
    width: 100px;
    height: 50px;
  }
  .funding-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
  #topics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
  }
  footer {
    position: relative;
    bottom: 0;
    text-align: center;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    background-color: black;
  }
  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .advert {
    padding: 10px 15px;
    text-align: center;
  }
  #news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .span {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .grid-parent,
  #latest-deals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    column-gap: 10px;
  }
  .box img {
    width: 100px;
    height: 50px;
  }
  .funding-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
  #topics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
  }
  footer {
    position: relative;
    bottom: 0;
    text-align: center;
    margin-top: 20px;
  }
}
